version: '3.8'
  
services:
  {{ website }}:
    image: {{ websites[website]['image'] }}
    networks:
      - traefik_net
{% if websites[website]['environment'] is defined %}
    environment:
{% for env_var in websites[website]['environment'] %}
      - {{ env_var }}
{% endfor %}
{% endif %}
{% if websites[website]['volumes'] is defined %}
    volumes:
{% for volume in websites[website]['volumes'] %}
      - {{ websites[website]['volumes'][volume].src }}:{{ websites[website]['volumes'][volume].dest }}
{% endfor %}
{% endif %}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{ website }}-http.entrypoints=http"
        - "traefik.http.routers.{{ website }}-http.rule=Host(`{{ websites[website]['hostname'] }}`)"
        - "traefik.http.routers.{{ website }}-http.middlewares={{ website }}-https"
        - "traefik.http.routers.{{ website }}-http.service={{ website }}"
        - "traefik.http.middlewares.{{ website }}-https.redirectscheme.scheme=https"
        - "traefik.http.middlewares.{{ website }}-https.redirectscheme.permanent=true"
        - "traefik.http.routers.{{ website }}.entrypoints=https"
        - "traefik.http.routers.{{ website }}.rule=Host(`{{ websites[website]['hostname'] }}`)"
        - "traefik.http.routers.{{ website }}.tls=true"
        - "traefik.http.routers.{{ website }}.tls.certresolver=dns-digitalocean"
        - "traefik.http.routers.{{ website }}.service={{ website }}"
{% if website == 'podcasts' %}
        - "traefik.http.routers.{{ website }}.middlewares={{ website }},compress"
        - "traefik.http.middlewares.{{ website }}.basicauth.usersfile=/htpasswd.{{ website }}"
        - "traefik.http.middlewares.compress.compress=true"
{% elif websites[website]['redirect'] is defined %}
        - "traefik.http.routers.{{ website }}.middlewares={{ website }}"
        - "traefik.http.middlewares.{{ website }}.redirectregex.regex=^http(.*)"
        - "traefik.http.middlewares.{{ website }}.redirectregex.replacement=https://{{ websites[website]['redirect'] }}"
{% else %}
        - "traefik.http.routers.{{ website }}.middlewares={{ website }}"
        - "traefik.http.middlewares.{{ website }}.compress=true"
{% endif %}
        - "traefik.http.services.{{ website }}-https.loadbalancer.server.port={{ loadbalancer_port }}"
        - "traefik.http.services.{{ website }}.loadbalancer.server.port={{ loadbalancer_port }}"
        - "traefik.docker.network=traefik_net"

networks:
  traefik_net:
    external: true
    name: traefik_net
