backup          {{ nfs_host }}:/volume1/backup
documents       {{ nfs_host }}:/volume1/documents
downloads       {{ nfs_host }}:/volume1/downloads
homes           {{ nfs_host }}:/volume1/homes
photo           {{ nfs_host }}:/volume1/photo
SORT_THIS_STUFF {{ nfs_host }}:/volume1/SORT_THIS_STUFF
video           {{ nfs_host }}:/volume1/video
music           {{ nfs_host }}:/volume1/music
esx             {{ nfs_host }}:/volume1/esx
*               {{ nfs_host }}:/volume1/&
